{% extends "base.html" %} {% block title %}Football Team Statistics{% endblock %} {% block content
    %}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-s0x5yk1taI3j9eB3H6n2WsrbczOV6o8C1gG2VCfF4PPXTT2mGgeXWSMRRvrd0sq" crossorigin="anonymous">
    <style>
        body {
            background-image: url("https://wallpapercave.com/wp/wp8593981.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-color: #e9f0f6;
        }
        label, button {
        color: white;
    }

    th {
        color: white;
        padding: 20px;
        background-color: #333; /* Example background color for headers */
    }

    /* Style for table cells */
    td {
        color: white;
        background-color: rgba(255, 255, 255, 0.1); /* Example background color for cells */
    }

    /* Style for the "Get Details" button */
    #get-details-btn {
        color: white;
        border-color: white;
    }
    /* Style the select element */
.form-control.custom-select {
    background-color: white; /* Change this to the color you want */
    color: black;
    border-color: black; /* Add a border color if desired */
}


    </style>
</head>
<body >
    
  <!-- Include Bootstrap JS from CDN -->
    <div class="container mt-5">
        <!-- <h1 class="mt-4">Football Team Statistics</h1> -->
        <div class="form-group">
            <label for="league-select">Select a League:</label>
            <select id="league-select" class="form-control">
                <option value="Premier League">Premier League</option>
                <option value="Serie A">Serie A</option>
                <option value="LaLiga">LaLiga</option>
                <option value="Bundesliga">Bundesliga</option>
                <option value="Ligue 1">Ligue 1</option>
                <option value="Liga Portugal">Liga Portugal</option>
                <option value="Eredivisie">Eredivisie</option>
                <option value="Major League Soccer">Major League Soccer</option>
                <option value="Super Lig">Super Lig</option>
                <option value="Premiership">Premiership</option>
                <option value="Liga Profesional">Liga Profesional</option>
                <option value="European Championship">European Championship</option>
            </select>
        </div>

        <div class="form-group mt-1">
            <label for="team-select">Select a Team:</label>
            <select id="team-select" class="form-control custom-select"> <!-- Add the custom-select class here -->
            </select>
        </div>
            <button id="get-details-btn" class = "btn btn-outline-success mt-3">Get Details</button>

    </div>

    <h2 style="color: white;">Player Data:</h2>
    <div id="player-data-section" class="m-2" style="overflow-x: auto ">
        <table id="player-table" class="table table-bordered" style="width:max-content">
            <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Player Name</th>
                <th>Position</th>
                <th>Height (CM)</th>
                <th>Weight (KG)</th>
                <th>Appearance</th>
                <th>Substitute</th>
                <th>Playtime (M)</th>
                <th>Goals</th>
                <th>Assists</th>
                <th>Yellow Cards</th>
                <th>Red Cards</th>
                <th>Set Piece Goal</th>
                <th>Passing Percentage</th>
                <th>Aerials Won</th>
                <th>Man of the Matches</th>
                <th>Rating</th>
            </tr>
        </thead>
            <tbody>
                <!-- The player data will be dynamically populated here -->
            </tbody>
        </table>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const leagueSelect = document.getElementById('league-select');
            const teamSelect = document.getElementById('team-select');
            const getDetailsBtn = document.getElementById('get-details-btn');
            const playerTableBody = document.querySelector('#player-table tbody');

            // Function to fetch teams based on the selected league
            const fetchTeams = async () => {
                const selectedLeague = leagueSelect.value;
                try {
                    console.log("Fetching teams for "+selectedLeague)
                    const response = await fetch(`/get_teams/${selectedLeague}`);
                    const data = await response.json();
                    console.log("Fetching teams for "+data)

                    // Clear previous team options
                    teamSelect.innerHTML = '';

                    // Populate team options
                    for (const team of data.teams) {
                        const option = document.createElement('option');
                        option.value = team;
                        option.textContent = team;
                        teamSelect.appendChild(option);
                    }
                } catch (error) {
                    console.error('Error fetching teams:', error);
                }
            };

            // Function to fetch player data based on the selected team
            const fetchPlayersData = async () => {
                const selectedLeague = leagueSelect.value;
                const selectedTeam = teamSelect.value;
                try {
                    const response = await fetch('/get_players_data', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ league: selectedLeague, team: selectedTeam }),
                    });

                    const data = await response.json();
                    const playerTableBody = document.querySelector('#player-table tbody');

                    // Clear previous player data
                    playerTableBody.innerHTML = '';
                    
                    players = JSON.parse(data.players); 
                    
                    // Loop through the JSON data and create table rows for each player
                    for (const playerId in players) {
                        const player = players[playerId];
                        console.log(playerId + player)
                        const row = document.createElement('tr');
                        for (const key in player) {
                            console.log(player[key])
                            if (player.hasOwnProperty(key)) {
                                row.innerHTML += `<td>${player[key]}</td>`;
                            }
                        }
                        playerTableBody.appendChild(row);
                    }

                    
                    
                } catch (error) {
                    console.error('Error fetching player data:', error);
                }
            };


            // Event listener for league selection change
            leagueSelect.addEventListener('change', fetchTeams);

            // Event listener for Get Details button click
            getDetailsBtn.addEventListener('click', fetchPlayersData);

            // Initial fetch for teams
            fetchTeams();
        });
    </script>
</body>

{% endblock %}
